* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}


header {
    width: 100%;
    padding: 1rem 2rem;
    background: #3b82f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header li {
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.2s ease-in-out;
}

header li a { 
    font-size: 16px;
    font-weight: normal;
}

header li:hover {
    opacity: 0.7;
}

.pontuacao {
    background: #5865f2;
    padding: 7px 12px;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
}
