* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}

header {
    width: 100%;
    padding: 1rem 2rem;
    background: #3b82f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header li {
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.2s ease-in-out;
}

header li a { 
    font-size: 16px;
    font-weight: normal;
}

header li:hover {
    opacity: 0.7;
}


.home-container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.features h2 {
    margin-bottom: 1rem;
}

.feature {
    background: #f5f5f5;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border-left: 4px solid #3b82f6;
}

.feature h3 {
    margin-bottom: .3rem;
}