
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}

body {
  margin: 0;
  padding: 0;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 4px 15px rgb(102, 101, 101);
  border-left: 4px solid #3b82f6;
}


.input-form {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}


.input-form label {
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}


.input-form input {
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.input-form input:focus {
  border-color: #3b82f6;
}


button {
  width: 100%;
  padding: 0.8rem;
  background: #3b82f6;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  form {
    margin: 1rem;
  }
}