* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}


body {
    margin: 0;
    background: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
}

.lista-questoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-questao {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgb(102, 101, 101);
    border-left: #3b82f6 4px solid;
}

.card-questao h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background: #e9ecef;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.85rem;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.opcao {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.opcao input[type="radio"] {
    width: 18px;
    height: 18px;
}

.btn-enviar {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background: #45a049;
}
