* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    margin: 0;
    background: #f8f9fa;
    color: #1a1a1a;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 800;
}



.lista-questoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.questao {
    background: #fff;
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    border-left: 5px solid #3b82f6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questao h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}



.opcoes {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.opcao {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 10px;
    background: #f0f0f0;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid transparent;
    user-select: none;
    gap: 10px;
}

.opcao:hover {
    background: #e7e7e7;
    border-color: #3b82f6;
}

.opcao input[type="radio"] {
    transform: scale(1.2);
}


.opcao.correta {
    background: #d4edda !important;
    border-left: 5px solid #28a745 !important;
}


.opcao.errada {
    background: #f8d7da !important;
    border-left: 5px solid #dc3545 !important;
}



.btn {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    align-self: start;
    font-weight: 600;
}

.btn:hover {
    background: #2563eb;
}


.feedback {
    padding: 15px;
    border-radius: 10px;
    background: #f1f3f5;
    margin-top: 5px;
}

.feedback .correto {
    color: #28a745;
    font-weight: 700;
    margin-bottom: 6px;
}

.feedback .errado {
    color: #dc3545;
    font-weight: 700;
    margin-bottom: 6px;
}

.explicacao {
    color: #333;
    font-size: .9rem;
    line-height: 1.4;
    margin-top: 6px;
}


.opcao.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
